
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/docker/data/dump/mysql/
/docker/data/mysql/
/.idea/
###< symfony/framework-bundle ###
